# Airflow
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=airflow
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# TMDB API
TMDB_API_KEY=your_tmdb_api_key  # https://www.themoviedb.org/settings/api

# Project
PROJECT_ROOT=.

# AWS (S3 access)
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_DEFAULT_REGION=us-east-1

TMDB_S3_BUCKET=your_s3_bucket_name
TMDB_S3_PREFIX=raw/tmdb

# Snowflake
SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password  # or use key-pair auth

SNOWFLAKE_PRIVATE_KEY_PATH=your_private_key_path  # optional if using key-pair auth

SNOWFLAKE_WAREHOUSE=your_warehouse
SNOWFLAKE_ROLE=your_role